:root {
    /* fonts */
    --main-font: "Roboto";
    --secondary-font:"Raleway";

    /* text colors */
    --accent-txt-clr: #2196F3; 
    --black-txt-clr: #212121;
    --white-txt-clr: #FFFFFF;
    --contact-txt-clr: #757575; 
    --header-logo-clr:#000000;
    --footer-mail-tel-clr: rgba(255, 255, 255, 0.6);
    --grey-txt-clr: #757575;
    --icon-clr: #AFB1B8;


    /* Background colors */
    --bg-dark-clr: #2F303A;
    --bg-btn-clr: #F5F4FA;
    --bg-wh-clr: #FFFFFF;
    --bg-middle-clr: #E5E5E5;
    --portfolio-border-clr: #EEEEEE;
    --portfolio-header-border-clr: #ECECEC;
    --bg-footer-icons: rgba(255, 255, 255, 0.1);
    --bg-wwd-clr: rgba(47, 48, 58, 0.8);
    --bg-overlay-clr: rgba(33, 150, 243, 0.9);
    --bg-modal: rgba(0, 0, 0, 0.2);
    --border-footer-sign: rgba(255, 255, 255, 0.3);

    /* others */
    --items: 9;
    --indent: 30px;

    /* animation */
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--black-txt-clr);
}

/* reset */

h1,
h2,
h3,
h4,
p {
    margin: 0;;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);

}

/* common styles */

.section {
    padding-top: 95px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-txt-clr);
    background-color: var(--bg-btn-clr);
    border: none;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    
}

.btn:hover,
.btn:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-txt-clr);
    color: var(--bg-btn-clr);
}

.btn {
    cursor: pointer;
}

/* header section */

.header-container {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header-nav {
    display: flex;
    align-items: center;
    
}

.header-list {
    display: flex;
    margin-left: 93px;
    
}

.header-list-item {
    margin-right: 50px;
    position: relative;
}

.header-list-item:last-child {
    margin-right: 0;
}

.header-contacts {
    display:flex;
}

.header-contacts-item {
    display: list-item;
    text-align: match-parent;
}

.header-tel {
    margin-left: 30px;
}

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: var(--bg-wh-clr);
    
}

.logo-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-txt-clr);
}

.logo-part {
    color: var(--header-logo-clr)
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-txt-clr); 
    transition: color var(--anim);
}

.header-link.link.current::after {
    position: absolute;
    display: block;
    content: '';
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-txt-clr);
}

.header-nav .link.current {
    color: var(--accent-txt-clr);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-txt-clr);
}

.header-icon {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    fill:currentColor;
    margin-right: 10px;
}

.header-mail,
.header-tel {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--contact-txt-clr);
    transition: color var(--anim), fill var(--anim);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-txt-clr);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-txt-clr);

}

.header-portfolio {
    border-bottom: 1px solid var(--portfolio-header-border-clr);
}
/* page studio start */

/* section main idea */

.idea {
    max-width: 1600px;
    max-height: 600px;
    margin: 0 auto;

    background-image: linear-gradient(to right,
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), 
    url(../images/idea-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.idea-h {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-txt-clr);
    width: 696px;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.idea-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-txt-clr);
    
    display: block;
    margin-left: auto;
    margin-right: auto;


    background-color: var(--accent-txt-clr);
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color var(--anim);
}



.idea-btn:hover,
.idea-btn:focus {
    background-color: var(--accent-txt-clr);
}

/* Modal Window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--bg-modal);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    min-width: 528px;
    min-height: 581px;
    background-color: var(--bg-wh-clr);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--anim);
}

.modal-close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: fill var(--anim);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--accent-txt-clr);
}

.modal-form {
    display: block;
    
}

.modal-p {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--black-txt-clr);
    margin-bottom: 12px;
}

.modal-label-container {
    margin-bottom: 10px;
}



.modal-text {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--grey-txt-clr);
}

.modal-box {
    position: relative;  
}

.modal-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--anim);
}

.modal-input:focus-within {
    border-color: var(--accent-txt-clr);
    
}

.modal-icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 12px;
    fill: var(--black-txt-clr);
    transition: fill var(--anim);
     
}

.modal-input:focus-within + .modal-icon {
    fill: var(--accent-txt-clr);
}


.modal-label-comment {
    display: block;
    margin-bottom: 20px;
    
}

textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px 12px 16px;
}

.modal-comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--anim);
    
}

.modal-comment:focus-within {
    border-color: var(--accent-txt-clr);
}


.modal-label-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.modal-check:focus + .modal-check-box {
    border: 2px solid var(--accent-txt-clr);
}

.modal-check:checked + .modal-check-box {
    background-color: var(--accent-txt-clr);
    border: var(--accent-txt-clr);
}

.modal-check-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--black-txt-clr);
    border-radius: 2px;
    transition: background-color var(--anim);
    
}

.modal-check-icon {
    fill: var(--white-txt-clr);
    
}

.modal-check-icon-use {
    border: 0.2px solid var(--bg-wh-clr);
}

.modal-text-agree {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact-txt-clr);
}

.modal-text-terms {
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-txt-clr);
}

.modal-btn-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 56px 10px 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-txt-clr);
    background-color: var(--accent-txt-clr);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color var(--anim);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}



/* section our pros */

.pros-list {
    display:flex;
    align-items: center;
}

.pros-icon-container {
    display: flex;
    min-width: 270px;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-btn-clr);
    
    margin-bottom: 30px;
    border-radius: 4px;
}

.pros-icon {
    display: flex;
    justify-content: center;
    align-items:baseline;
    width: 70px;
    height: 70px;
}



.pros-list-item:not(:last-child) {
    margin-right: 30px;
}

.pros-list-item-h {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--black-txt-clr);
    
    width: 270px;
    margin-bottom: 10px;
}

.pros-list-item-p {
    font-size: 14px;
    line-height: 1.71;
    color: var(--grey-txt-clr);
}

/* section what we do */

.what-we-do {
    padding-bottom: 95px;
}

.what-we-do-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--black-txt-clr);
    margin-bottom: 50px;
}

.what-we-do-list {
    display: flex;
}

.what-we-do-list-item {
    z-index: -1;
}

.what-we-do-list-item:not(:last-child) {
    margin-right: 30px;
}

.what-we-do-img-wrap {
    position: relative;
}

.what-we-do-img {
    display: block;
}

.what-we-do-desc {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;

    height: 70px;
    width: 100%;
    padding: 27px 82px 27px 82px;
    color: var(--white-txt-clr);
    background-color: var(--bg-wwd-clr);
}

/* section our team */

.team {
    background-color: var(--bg-btn-clr);
    padding-bottom: 95px;
}


.team-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--black-txt-clr);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
}

.team-list-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
    margin-right: 30px;
}

.team-list-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list-h {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--black-txt-clr);

    
    margin-bottom: 10px;
}

.team-list-p {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--grey-txt-clr);

    margin-bottom: 15px;
}

.team-sm-list {
    display: flex;
    justify-content: center;
    
}

.team-sm-item:not(:last-child) {
    margin-right: 10px;
}

.team-sm-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-clr);
    background-color: var(--bg-wh-clr);
    transition: color var(--anim), background-color var(--anim);
}

.team-sm-link:hover,
.team-sm-link:focus {
    color: var(--white-txt-clr);
    background-color: var(--accent-txt-clr);
}

.team-icon {
    fill: currentColor;
}

/* Секція Clients */
.clients {
    padding-top: 95px;
    padding-bottom: 95px;
}

.clients-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--black-txt-clr);
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-clr);
    border-radius: 4px;
    color: var(--icon-clr);
    transition: color var(--anim), border-color var(--anim);
}

.clients-item-link:hover,
.clients-item-link:focus {
    border-color: var(--accent-txt-clr);
    color: var(--accent-txt-clr);
    
}

.clients-list-item:not(:last-child) {
    margin-right: 30px;
}

.clients-icon {
    fill: currentColor;
}

/* page studio end */

/* page portfolio start */


/* section  portfolio */

.portfolio {
    padding: 94px 0;
}

.our-portfolio {
    background-color: var(--bg-middle-clr);
}

.buttons-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.buttons-item-btn {
    transition: box-shadow var(--anim), color var(--anim), background-color var(--anim);
}

.buttons-list-item:not(:last-child) {
    margin-right: 10px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * (var(--indent)) / 2);
}

.portfolio-item-link {
    display: block;
}

.portfolio-img-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item {
    flex-basis: calc((100% - var(var(--indent)) * var(--items) / var(--items)));
    margin: calc((var(--indent)) / 2);

    transition: box-shadow var(--anim);
}


.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}



.portfolio-list-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 294px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px 63px 24px;
    background-color: var(--bg-overlay-clr);

    transition: transform var(--anim);
}

.portfolio-desc {
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-txt-clr);
}

.portfolio-box {
    border-left: 1px solid var(--portfolio-border-clr);
    border-bottom: 1px solid var(--portfolio-border-clr);
    border-right: 1px solid var(--portfolio-border-clr);
    padding: 20px 25px 20px 25px;
}

.portfolio-item-h {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-txt-clr);
    margin-bottom: 4px;
}

.portfolio-item-p {
    font-size: 16px;
    line-height: 1.88;
    color: var(--grey-txt-clr);
}

/* footer section */

.footer {
    background-color: var(--bg-dark-clr);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;
}

.general-container {
    display: flex;
    align-items: baseline; 
}

.footer-logo {
    min-width: 231px;
}

.footer-list {
    font-style: normal;
    
}

.footer-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-logo-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-txt-clr);
}

.footer-logo-part {
    color: var(--white-txt-clr);
}

.footer-address {
    margin-top: 20px;
}

.footer-item-street {
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-txt-clr);
}

.footer-item-mail {
    font-size: 14px;
    line-height: 1.71; 
    color: var(--footer-mail-tel-clr);
    
}

.footer-item-tel {
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-mail-tel-clr);
}

/* section join us */

.join-us-h {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-clr);

    margin-bottom: 20px;

}

.join-us {
    display: block;
    margin-left: 70px;
    margin-right: 93px;
    
}


.join-us-list {
    display: flex;
    justify-content: baseline;
}

.join-us-item:not(:last-child) {
    margin-right: 10px;
}

.join-us-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--bg-wh-clr);
    background-color: var(--bg-footer-icons);
    transition: background-color var(--anim);
}

.join-us-link:hover,
.join-us-link:focus {
    fill: var(--bg-wh-clr);
    background-color: var(--accent-txt-clr);
}

/* section sign */

.sign {
    display: block;
}

.sign-form {
    display: flex;
}

.sign-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-clr);
    
}

.sign-form {
    margin-top: 20px;
}

.sign-input {
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    background-color: transparent;
    border: 1px solid var(--border-footer-sign);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    transition: border var(--anim);

}

.sign-input:focus,
.sign-input:not(:placeholder-shown) {
    border: 1px solid var(--accent-txt-clr);
    color: var(--white-txt-clr);
}

.sign-button {
    min-width: 200px;
    height: 100%;
    padding: 10px 29px 10px 28px;
    margin-left: 12px;

    display: flex;
    align-items: center;
    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-txt-clr);
    background-color: var(--accent-txt-clr);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
}

.sign-icon {
    margin-left: 10px;
}

/* page portfolio end */


/* hidden */

.visual-hidden {
    visibility: hidden;
}